Package: com.mbo42.momoautoswipe
Name: MomoAutoSwipe
Depends: mobilesubstrate, firmware(>= 8)
Version: 1.0
Architecture: iphoneos-arm
Description: Auto swipe those cards!
Maintainer: Mikaelbo
Author: Mikaelbo
Section: Tweaks